footer div{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color:#fff;
}

.retorno{
    position: fixed;
    z-index: 2000;
    height: 50px;
    width: 50px;
    bottom: 200px;
    right: 100px;
    border-radius: 4px;
    background: rgba(128, 128, 128, .7);
    display: flex;
    opacity: 1;
}

.retorno a::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff;
    align-items: center;
    justify-content: center;
    margin: auto 11px;
    margin-top: 12.5px;
}