.container .titulo-escudo {
    padding-top: 100px;
    margin-bottom: 40px;
}

.escudos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.escudo{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 2px 1px 15px #000;
    transition: margin-top 0.3s;
}

.escudo:hover{
    margin-top: -10px;
    transition: margin-top 0.6s;
}

.escudo img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 15px;
}

.escudo h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    margin: 0 auto;
}

.escudo p{
    font-family: 'Roboto Condensend', monospace;
    line-height: 20px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 15px;
}

.escudos .escudo:last-child{
    margin: 0 auto;
    border: 2px solid #000;
}

